.header {
    border-bottom: 1px solid ;
}

.login-btn, .register-btn, .logout-btn, .cart-btn, .productRegister-btn {
    background-color: white;
    color: black;
    font-size: 15px;
}

.login-btn:hover {
    color: gray;
}

.register-btn:hover {
    color: gray;
}

.logout-btn:hover {
    color: gray;
}

.productRegister-btn:hover {
    color: gray;
}

.invisible {
    display: none;
}

.top-link {
    text-align: right;
}

.main-logo {
    display: flex;
    justify-content: center;
}

.logo-img {
    height: 100px;
    cursor: pointer;
}

.nav {
    display: flex;
    justify-content: center;
}

.category {
    display: flex;
    width: 90%;
    justify-content: space-around;
}

.category li a:hover {
    color: black;
    font-weight: 700;
}