.menu-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.str-img {
    margin-top: 30px;
    width: 500px;
}

.login-btn, .register-btn {
    background-color: white;
    color: black;
    font-size: 15px;
}
