<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <header>
        <div class="header">
            <div class="top-link">
                <button class="btn login-btn">로그인</button>
                <button class="btn register-btn">회원가입</button>
            </div>
            <div class="main-logo">
                <a href=""><img src="/static/image/main-logo.png" class="logo-img"></a>
              
            </div>
           <nav class="nav">
                <ul class="category">
                    <li><a href="">메뉴소개</a></li>
                    <li><a href="">캠퍼스안내</a></li>
                    <li><a href="">창업안내</a></li>
                </ul>
           </nav>
        </div>
    </header>
    <main>
        <div class="menu-img">
            <img src="/static/image/strawberry.png" class="str-img">
        </div>
    </main>
    <script src="/static/js/header.js"></script>
    <script src="/static/js/index.js"></script>
</body>
</html>