<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    <header>
        <div class="header">
            <div class="top-link">
                <button class="btn login-btn">로그인</button>
                <button class="btn register-btn">회원가입</button>
            </div>
            <div class="main-logo">
                <a href=""><img src="/static/image/main-logo.png" class="logo-img"></a>
              
            </div>
           <nav class="nav">
                <ul class="category">
                    <li><a href="">메뉴소개</a></li>
                    <li><a href="">캠퍼스안내</a></li>
                    <li><a href="">창업안내</a></li>
                </ul>
           </nav>
        </div>
    </header>
    <main class="main">
        <div class="login-content">
          <p>로그인</p>
          <form action="/login" method="post">
            <input name="username" class="id" type="text" th:value="${username}" placeholder="아이디를 입력해주세요" required>
            <input name="password" class="password" type="password" placeholder="패스워드를 입력해주세요" required>
            <button class="btn content-login">로그인</button>
            <button class="btn content-regist">회원가입</button>
          </form>
        </div>
    </main>
    <script src="/static/js/header.js"></script>
    <script src="/static/js/login.js"></script>
</body>
</html>