<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/register.css">
</head>
<body>
    <!-- <header>
        <div class="header">
            <div class="top-link">
                <button class="btn login-btn">로그인</button>
                <button class="btn register-btn">회원가입</button>
            </div>
            <div class="main-logo">
                <a href=""><img src="/static/image/main-logo.png" class="logo-img"></a>
              
            </div>
           <nav class="nav">
                <ul class="category">
                    <li><a href="">메뉴소개</a></li>
                    <li><a href="">캠퍼스안내</a></li>
                    <li><a href="">창업안내</a></li>
                </ul>
           </nav>
        </div>
    </header> -->
    <main class="main">
        <div class="login-content">
          <p>회원가입</p>
          <input class="username" type="text" placeholder="아이디를 입력해주세요" required>
          <input class="password" type="password" placeholder="비밀번호를 입력해주세요" required>
          <input class="pw-chk" type="password" placeholder="비밀번호를 다시 입력해주세요" required>
          <button class="btn register">회원가입하기</button>
          <button class="btn cancle">취소</button>
        </div>
    </main>
    <script src="/static/js/register.js"></script>
</body>
</html>